html{
    font-size: 16px;
    font-family: sans-serif;
}
main{
    max-width: 62.5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
header{
    max-width: 62.5rem;
    margin: 0 auto;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: white;
}
nav a{
    text-decoration: none;
    color: black;
    margin: auto 1rem;
}
#about-me{
    display: flex;
    width: 60%;
}   
h2{
    margin-top: 0;
}

.project-title:hover{
    text-shadow: 2px 2px 1px grey;
}
#description1, #description2, #description3{
    display: none;
}
.project img{
    width: 60%;
    height: auto;
    border: 1px solid black ;
}
.project img:hover{
    box-shadow: 5px 5px grey;
}
i{
    font-size: 2rem;
    margin: auto 0.5rem;
}

@media only screen and (max-width: 850px){
    main{
        width: 100%; 
    }
    #about-me{
        flex-direction: column;
        width: 100%;
    }
    .about-me-text{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}